{% extends 'base.html' %}


{% block style %}
<style>
    #request-table tr td:nth-child(1),
    #request-table tr th:nth-child(1) {
        width: 20%;
    }

    #request-table tr td:nth-child(2),
    #request-table tr th:nth-child(2) {
        width: 15%;
    }

    #request-table tr td:nth-child(3),
    #request-table tr th:nth-child(3) {
        width: 15%;
    }

    #request-table tr td:nth-child(4),
    #request-table tr th:nth-child(4) {
        width: 50%;
    }
</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-12 col-md-7 mx-auto shadow">
            <h4>Danh sách nhu cầu:</h4>
            <table class="table table-striped table-bordered" id="request-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                        <th>Gợi ý</th>
                    </tr>
                </thead>
                <tbody id="require-list">
                    <!-- <tr>
                        <td>Thịt heo</td>
                        <td>1</td>
                        <td>Kilogram</td>
                        <td>
                            <a href="#" class="badge badge-info">Nguyen Van A</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Cà chua</td>
                        <td>1</td>
                        <td>Kilogram</td>
                        <td>
                            <a href="#" class="badge badge-info">Nguyen Van A</a>
                            <a href="#" class="badge badge-info">Nguyen Van B</a>
                            <a href="#" class="badge badge-info">Nguyen Van C</a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>


        <div class="col-12 col-md-4 mx-auto">
            <h1>Thêm nhu cầu mua</h1>
            <form action="/api/nguoi-dung/them-nhu-cau-mua" name="frmThemNhuCau" id="frmThemNhuCau"
                class="shadow p-4 mt-5">
                <div class="form-group mb-5">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
                        integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
                        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                    <label for="txtThoiGian">Thời gian:</label>
                    <script>
                        var today = moment().format('YYYY-MM-DD');
                        document.write(`<input type="date" name="txtThoiGian" id="txtThoiGian" class="form-control" value="${today}" />`)
                    </script>
                </div>

                <div class="form-row">
                    <div class="col-8">
                        <label for="slDanhMucThucPham">Danh mục thực phẩm:</label>
                        <select name="slDanhMucThucPham" id="slDanhMucThucPham" class="form-control">
                            <option value="">---- Chọn danh mục thực phẩm ----</option>
                            {% for food_type in food_type_list %}
                            <option value="{{ food_type.DMTP_MA }}">{{ food_type.DMTP_TEN }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="numSoLuong">Số lượng:</label>
                        <input type="number" name="numSoLuong" class="form-control" id="numSoLuong" min="0">
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Đơn vị:</label>
                    <select name="slDonVi" class="form-control" id="slDonVi">
                        <option value="">---- Chọn đơn vị ----</option>
                        {% for unit in unit_list %}
                        <option value="{{ unit.DMDVT_MA }}">{{ unit.DMDVT_TEN }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="button" class="btn btn-success form-control mb-1" id="btn-add-require-list">Thêm vào
                    danhsách</button>
                <button class="btn btn-primary form-control">Gửi yêu cầu</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(function () {
        $("#btn-add-require-list").click(function (e) {
            let danhMuc = $("#slDanhMucThucPham").val();
            let soLuong = $("#numSoLuong").val();
            let donVi = $("#slDonVi").val();

            let danhMucText = $(`#slDanhMucThucPham option[value="${danhMuc}"]`).html();
            let donViText = $(`#slDonVi option[value="${donVi}"]`).html();

            let danhMucList = Array.from($("#require-list tr")).map(e => $(e).attr("data-danh-muc"));
            console.log({ danhMucList });
            if (danhMucList.includes(danhMuc)) {
                const existRow = $(`#require-list tr[data-danh-muc="${danhMuc}"]`);
                const SO_LUONG_TD_INDEX = 1;
                let newSoLuong = Number(existRow.attr("data-so-luong")) + Number(soLuong);

                existRow.children("td").eq(SO_LUONG_TD_INDEX).html(newSoLuong)
                existRow.attr("data-so-luong", newSoLuong);
            } else {
                $("#require-list").append(
                    `<tr data-danh-muc="${danhMuc}" data-so-luong="${soLuong}" data-don-vi="${donVi}">
                        <td>${danhMucText}</td>    
                        <td>${soLuong}</td>    
                        <td>${donViText}</td>    
                        <td></td>    
                    </tr>`
                );
            }
        });

        $("#frmThemNhuCau").submit(async function (e) {
            e.preventDefault();
            let requireList = Array.from($("#require-list tr")).map(e => ({
                danhMuc: $(e).attr("data-danh-muc"),
                soLuong: $(e).attr("data-so-luong"),
                donVi: $(e).attr("data-don-vi"),
            }));

            let requires = JSON.stringify(requireList);

            try {
                let txtThoiGian = $("#txtThoiGian").val();
                let slNguoiDung = $("#slNguoiDung").val();
                console.log(`/api/nguoi-dung/them-nhu-cau-mua?txtThoiGian=${txtThoiGian}&requires=${requires}`);
                // let response = await axios.post(`/api/nguoi-dung/them-nhu-cau-mua?txtThoiGian=${txtThoiGian}&requires=${requires}`);
                alert("Thêm thành công")
            } catch (error) {
                console.log({ error });
                alert("Có lỗi xảy ra");
            }
        });

        // Change option tags following the food
        $("#slDanhMucThucPham").change(async function () {
            let value = $(this).val();
            if (value == "") return;
            // get unit list based on dmtp_ma
            let response = await axios.get(`/api/unit?dmtp_ma=${value}`);
            let units = response.data.units;
            let presentHTML = units.map(unit => `<option value=${unit.DMDVT_MA}>${unit.DMDVT_TEN}</option>`).join('');
            $('#slDonVi').html(presentHTML);
        });
    });
</script>
{% endblock %}