<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project X</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style>
        label {
            font-weight: bold;
        }

        .section-header {
            border-left: 1.5vw solid orange;
            padding: 1vw 2vw;
            margin: 1vw 0;
        }
    </style>
    {% block style %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Project X</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thuc-pham/them">Thêm thực phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/food-map">Food map</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user_info and user_info.ND_TAI_KHOAN %}
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="/nguoi-dung/{{user_info.ND_TAI_KHOAN}}">
                        <i class="fas fa-user"></i>
                        {{ user_info.ND_TAI_KHOAN }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nguoi-dung/dang-xuat">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/nguoi-dung/dang-nhap">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nguoi-dung/dang-ky">Đăng ký</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block script %}{% endblock %}
</body>

</html>