{% extends 'base.html' %}


{% block main %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="section-header">Thông tin thực phẩm</h2>
            <form class="p-3 shadow" id="frmThongTinThucPham" name="frmThongTinThucPham" method="post"
                action="/thuc-phan/them">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/{{food.TP_HINH_ANH}}" alt="hinhanh" id="hinhanh" class="d-block rounded"
                            style="width: 100%; height: 20vw; object-fit: cover;">
                    </div>

                    <div class="col-md-8">
                        <div class="form-row">
                            <div class="col-12">
                                <label for="txtTenThucPham">Tên thực phẩm</label>
                                <input type="text" class="form-control" id="txtTenThucPham" name="txtTenThucPham"
                                    value="{{ food.TP_TEN }}" readonly>
                            </div>
                            <div class="col-6">
                                <label for="slLoaiThucPham">Danh mục thực phẩm</label>
                                <input type="text" name="slLoaiThucPham" id="slLoaiThucPham" class="form-control"
                                    value="{{food.DMTP_TEN}}" readonly>
                            </div>
                            <div class="col-6">
                                <label for="numSoLuong">Số lượng</label>
                                <input type="number" min="1" class="form-control" id="numSoLuong" name="numSoLuong"
                                    value="{{food.TP_SO_LUONG}}" readonly>
                            </div>
                            <div class="col-6">
                                <label for="slDonVi">Đơn vị</label>
                                <input type="text" name="slDonVi" id="slDonVi" class="form-control"
                                    value="{{food.DMDVT_TEN}}" readonly>
                            </div>
                            <div class="col-6">
                                <label for="numDonGia">Đơn giá</label>
                                <div class="input-group">
                                    <input type="text" name="numDonGia" id="numDonGia" class="form-control"
                                        value="{{food.TP_DON_GIA}}" readonly>
                                    <script>
                                        document.querySelector("#numDonGia").value = Number(`{{food.TP_DON_GIA}}`).toLocaleString('vi');
                                    </script>
                                    <div class="input-group-append">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="txtNgayBan">Ngày bán</label>
                                <input type="date" name="txtNgayBan" id="txtNgayBan" class="form-control"
                                    value="{{food.TP_NGAY_BAN}}" readonly>
                            </div>
                            <div class="col-6">
                                <label for="numSoLuongBanSi">
                                    Số lượng mỗi suất bán
                                </label>

                                <script>
                                    const TP_SO_LUONG_BAN_SI = Number(`{{ food.TP_SO_LUONG_BAN_SI }}`);

                                    document.write(`<input type="text" class="form-control" id="numSoLuongBanSi" name="numSoLuongBanSi"
                                    step="0.1" value="${TP_SO_LUONG_BAN_SI ? String(TP_SO_LUONG_BAN_SI).replace(/\.0*/, '') : 'không giới hạn'}" readonly>`)
                                </script>

                            </div>
                            <div class="col-12">
                                <label for="txtViTriBanDo">Vị trí bán</label>
                                <input type="text" name="txtViTriBanDo" id="txtViTriBanDo" class="form-control"
                                    value="{{ food.TP_DIA_CHI }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="txtMoTa">Mô tả</label>
                        <textarea name="txtMoTa" id="txtMoTa" cols="30" rows="8" class="form-control"
                            readonly>{{food.TP_MO_TA}}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-12">
            <h2 class="section-header">Đặt mua</h2>
            <form action="/thuc-pham/dang-ky" class="bg-light p-5 shadow-lg rounded" method="post">
                <input type="hidden" name="txtNDMa" value="{{user_info.ND_MA}}" />
                <input type="hidden" name="txtTPMa" value="{{food.TP_MA}}" />

                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="numDangKy">Số lượng</label>
                            <input type="number" name="numSoLuongDangKy" id="numSoLuongDangKy" class="form-control"
                                step="0.1" max="{{food.TP_SO_LUONG}}" />
                        </div>
                        <div class="form-group">
                            <label for="txtThoiGian">Thời gian</label>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
                                integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
                                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                            <script>
                                var today = moment().format('YYYY-MM-DD');
                                document.write(`<input type="date" name="txtThoiGian" id="txtThoiGian" class="form-control" value="${today}" />`)
                            </script>
                        </div>
                    </div>

                    <div class="col-8">
                        <label for="txtNote">Ghi chú</label>
                        <textarea name="txtNote" id="txtNote" cols="30" rows="5"
                            class="form-control position-relative"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary form-control mt-3" type="submit">Đặt</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/vendor/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('txtMoTa');
</script>
{% endblock %}