{% extends 'base.html' %}


{% block style %}
<style>
    #txtAddress__options .txtAddress__options__option {
        outline: solid 0.5px lightgray !important;
        padding: 0.5vw !important;
        box-shadow: 0 0 0.1vw black !important;
        cursor: pointer;
    }

    .txtAddress__options__option:hover {
        background: rgba(240, 250, 250, 0.5);
    }

    input[readonly],
    textarea[readonly] {
        background: transparent !important;
        resize: none;
    }
</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-10">

            <!-- {% if role == 'registered' %}
            <div class="alert alert-success text-center font-weight-bold">
                Yêu cầu mua Đang xử lý
            </div>
            {% endif %} -->

            <h2 class="section-header">Thông tin thực phẩm</h2>

            <form class="p-3 shadow" id="frmThongTinThucPham" name="frmThongTinThucPham" method="post"
                action="/thuc-phan/them">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-md-4">
                        <img src="/{{food.TP_HINH_ANH}}" alt="hinhanh" id="hinhanh" class="d-block rounded"
                            style="width: 100%; height: 20vw; object-fit: cover;">
                    </div>

                    <div class="col-md-8">
                        <h4 class="border p-3">
                            <i class="fas fa-user-tie"></i>
                            <strong>Người bán</strong>: {{ food.ND_TAI_KHOAN }}
                        </h4>

                        <div class="form-row">
                            <div class="col-12">
                                <label for="txtTenThucPham">Tên thực phẩm</label>
                                <input type="text" class="form-control" id="txtTenThucPham" name="txtTenThucPham"
                                    value="{{ food.TP_TEN }}" readonly>
                            </div>

                            <!-- <div class="col-6">
                                <label for="slLoaiThucPham">Danh mục thực phẩm</label>
                                <input type="text" name="slLoaiThucPham" id="slLoaiThucPham" class="form-control"
                                    value="{{food.DMTP_TEN}}" readonly>
                            </div> -->

                            <!-- <div class="col-6">
                                <label for="slDonVi">Đơn vị</label>
                                <input type="text" name="slDonVi" id="slDonVi" class="form-control"
                                    value="{{food.DMDVT_TEN}}" readonly>
                            </div> -->
                            <div class="col-md-6">
                                <label for="numDonGia">Đơn giá</label>
                                <div class="input-group">
                                    <input type="text" name="numDonGia" id="numDonGia" class="form-control"
                                        value="{{food.TP_DON_GIA}}" readonly>
                                    <script>
                                        document.querySelector("#numDonGia").value = Number(`{{food.TP_DON_GIA}}`).toLocaleString('vi');
                                    </script>
                                    <div class="input-group-append">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="numSoLuongBanSi">
                                    Số lượng mỗi suất bán
                                </label>
                                <div class="input-group">
                                    <script>
                                        const TP_SUAT_BAN = Number(`{{ food.TP_SUAT_BAN }}`);

                                        document.write(`<input type="text" class="form-control" id="numSoLuongBanSi" name="numSoLuongBanSi"
                                    step="0.1" value="${TP_SUAT_BAN ? String(TP_SUAT_BAN).replace(/\.0*$/, '') : 'không giới hạn'}" readonly>`)
                                    </script>
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{ food.DMDVT_TEN }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="txtNgayBan">Ngày bắt đầu bán</label>
                                <input type="date" name="txtNgayBan" id="txtNgayBan" class="form-control"
                                    value="{{food.TP_NGAY_BAN}}" readonly>
                            </div>

                            <div class="col-md-6">
                                <label for="numSoLuong">Số lượng còn lại</label>
                                <div class="input-group">

                                    <input type="number" min="1" class="form-control" id="numSoLuong" name="numSoLuong"
                                        value="{{food.TP_SO_LUONG}}" readonly />
                                    <script>
                                        document.querySelector("#numSoLuong").value = Number(`{{food.TP_SO_LUONG}}`).toLocaleString('vi');
                                    </script>
                                    <div class="input-group-append">
                                        <span class="input-group-text">{{ food.DMDVT_TEN }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="txtViTriBanBanDo">Vị trí bán</label>
                                <input type="text" name="txtViTriBanBanDo" id="txtViTriBanBanDo" class="form-control"
                                    value="{{ food.TP_DIA_CHI }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="txtMoTa">Mô tả</label>
                        <textarea name="txtMoTa" id="txtMoTa" cols="30" rows="8" class="form-control"
                            readonly>{{food.TP_MO_TA}}</textarea>
                    </div>
                </div>
            </form>
        </div>

        {% if unready_registered_list %}
        <div class="col-md-2 border" style="max-height: 100vh; overflow: auto">
            <h2>Đã đặt:</h2>
            <ul style="list-style-type: none; padding-left: 0;">
                {% for register in unready_registered_list %}
                <li class="d-flex">
                    <span class="font-weight-bold" style="flex-basis: 60%;">{{ register.ND_TAI_KHOAN }}</span>
                    <span>
                        đã đặt
                        <script>
                            document.write(String({{ register.CTDKM_SO_LUONG }}).replace(/\.0*$/g, ''))
                        </script>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {% if role != 'owner' %}
    <div class="row mt-3">
        <div class="col-12">
            <h2 class="section-header">Đặt mua</h2>
            <form action="/thuc-pham/dang-ky" class="bg-light p-5 shadow-lg rounded" method="post">
                <input type="hidden" name="txtNDMa" value="{{user_info.ND_MA}}" />
                <input type="hidden" name="txtTPMa" value="{{food.TP_MA}}" />
                <input type="hidden" name="txtViTriBanDo" id="txtViTriBanDo" />

                <div class="form-row">
                    <div class="col-12">
                        <label for="txtAddress">Địa chỉ</label>
                        <input type="text" name="txtAddress" id="txtAddress" class="form-control" autocomplete="off">
                        <div id="txtAddress__options" class="w-100">

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-row">
                            <div class="col-6">
                                <label for="numDangKy">Số lượng</label>
                                <input type="number" name="numSoLuongDangKy" id="numSoLuongDangKy" class="form-control"
                                    step="0.1" max="{{food.TP_SO_LUONG}}" />
                            </div>

                            <div class="col-6">
                                <label for="txtThoiGian">Thời gian</label>
                                <script
                                    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
                                    integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
                                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                                <script>
                                    var today = moment().format('YYYY-MM-DD');
                                    document.write(`<input type="date" name="txtThoiGian" id="txtThoiGian" class="form-control" value="${today}" />`)
                                </script>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <label for="txtNote">Ghi chú</label>
                        <textarea name="txtNote" id="txtNote" cols="30" rows="5"
                            class="form-control position-relative"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary form-control mt-3" id="js-btn-register" type="submit">Đặt</button>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- UI for owner -->
    {% if role == 'owner' %}
    <div class="row border p-3 my-2 bg-light rounded w-50 mx-auto">
        <div class="col d-flex justify-content-between align-items-center">
            <h5><i class="fas fa-users-cog"></i> Chức năng:</h5>
            </h1>
            <a href="/thuc-pham/cap-nhat/{{ food.TP_MA }}" type="button" class="btn btn-warning shadow">
                <i class="fas fa-pen"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 class="section-header">
                <i class="fas fa-users-cog"></i> Danh sách đặt mua
            </h1>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Tài khoản</th>
                        <th>Số lượng</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registered in ready_registered_list %}
                    <tr data-dkm-ma="{{ registered.DKM_MA }}" data-nd-ma="{{ registered.ND_MA }}"
                        data-count="{{ registered.CTDKM_SO_LUONG }}">
                        <td>
                            <span class="font-weight-bold">{{ registered.ND_TAI_KHOAN }}</span>
                        </td>
                        <td class="text-right">
                            <script>
                                document.write(String({{ registered.CTDKM_SO_LUONG }}).replace(/\.0*$/g, ''))
                            </script>
                        </td>
                        <td>{{ registered.DKM_DIA_CHI }}</td>

                        <td>
                            <span class="badge badge-warning">Chờ xử lý</span>
                        </td>

                        <td>{{ registered.CTDKM_GHI_CHU }}</td>

                        <td>
                            <button type="button" class="btn btn-success js-btn-done">
                                <i class="fas fa-check"></i>
                                Đánh dấu hoàn tất
                            </button>
                        </td>
                    </tr>
                    {% endfor %}

                    {% if ready_registered_list|length == 0 %}
                    <tr>
                        <td colspan="6" class="text-center">Không có yêu cầu nào</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}


</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js " defer></script>

<script>
    $(function () {
        $("#txtAddress").change(function (e) {
            geocoder = new google.maps.Geocoder();
            var address = $("#txtAddress").val();
            if (address.length === 0) return;
            geocoder
                .geocode({ 'address': address, region: "vi" }, (results, status) => {
                    try {
                        if (status == google.maps.GeocoderStatus.OK) {
                            let location = results[0].geometry.location;
                            console.table(results);
                            let [lat, lng] = [location.lat(), location.lng()];
                            $("#txtAddress__options").html(
                                `<div class="txtAddress__options__option" data-value="${lat}|${lng}">${results[0].formatted_address}</div>`
                            )
                        }

                        else {
                            alert("Geocode was not successful for the following reason: " + status);
                        }
                    } catch (e) {
                        console.log({ e });
                    }
                })
                .catch(e => {
                    console.log({ e });
                });
        });


        $(document).on('click', '.txtAddress__options__option', function () {
            let val = $(this).attr("data-value");
            // val format: "lat|long"
            console.log(val);
            $("#txtViTriBanDo").val(val);
            $("#txtAddress").val($(this).html())
            $(this).remove();
            console.log(`set #txtViTriBanDo to ${val}`);
        });


        $(".js-btn-done").click(async function () {
            try {
                let nd_ma = $(this).parents("tr").attr("data-nd-ma");
                let dkm_ma = $(this).parents("tr").attr("data-dkm-ma");
                let payload = $(this).parents("tr").attr("data-count");
                let tp_ma = `{{ food.TP_MA }}`;
                let api_params = new URLSearchParams({ payload, dkm_ma }).toString();

                let response = await axios.put(`/api/thuc-pham/${tp_ma}?${api_params}`);
                alert("Thao tác thành công")
            } catch (e) {
                alert("Thao tác không thành công")
                console.log({ e });
            }
        });

        // function isLogin() {
        //     let x = Cookies.get("ND_MA");
        //     console.log("Check result nd_ma", x);
        //     return x ? true : false;
        // }

        // // new feature
        // $("#js-btn-register").click(function (e) {
        //     e.preventDefault();
        //     try {
        //         let userIsLogin = isLogin();
        //         console.log({ userIsLogin });
        //     } catch (err) {
        //         console.log({ err });
        //     }
        // });
    });
</script>
{% endblock %}