<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project X</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            {% for food in food_list %}
            <div class="col s4" data-price="{{ food.TP_DON_GIA }}">

                <div class="product">
                    <img src="{{ food.TP_HINH_ANH }}" alt="Card image cap">
                    <div class="card-body product__body">
                        <span>
                            {{ food.TP_TEN }}
                        </span>

                        <div>
                            <div><span>{{ food.TP_DON_GIA | currencyFormat }}</span> đ/1 {{ food.DMDVT_TEN }}</div>

                            <div><i>Còn lại: {{ food.TP_SO_LUONG | currencyFormat }} {{ food.DMDVT_TEN }}</i></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>