{% extends 'base.html' %}

{% block style %}
<style>
  .product {
    display: flex;
    flex-direction: column;
    height: 27rem;
  }

  .product__image {
    width: 100%;
    height: 45%;
    object-fit: cover;
  }

  .card-title__unit {
    font-size: 1rem;
  }


  .user-list__item:hover {
    background-color: #eee !important;
  }
</style>
{% endblock %}



{% block main %}
<div class="container-fluid">
  <!-- =================================  filter row ================================= -->
  <div class="row border shadow-sm bg-light p-3 mb-1 d-flex justify-content-center align-items-center">
    <!-- filter for nd_ma start -->
    <div class="col-md-3">
      <input type="text" id="txtFilter-nd-ma" class="form-control custom-filter-input"
        placeholder="Lọc theo tên người dùng">
      <div id="user-list" class="position-absolute w-100" style="z-index: 100;">
        <!-- <div data-nd-ma="" class="bg-white w-100 shadow user-list__item d-none">Tất cả</div> -->
        {% for user in user_list %}
        <div data-nd-ma="{{ user.ND_MA }}" class="bg-white w-100 shadow d-none user-list__item py-2 pl-3 border rounded"
          style="cursor: pointer;">
          {{ user.ND_TAI_KHOAN }}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- filter for nd_ma end -->

    <!-- filter for dmtp_ma start -->
    <div class="col-md-3">
      <select name="slFilter-dmtp-ma" class="form-control custom-filter-input" id="slFilter-dmtp-ma">
        <option data-dmtp-ma="" class="bg-white w-100 shadow" value="">
          Tất cả danh mục thực phẩm
        </option>
        {% for dmtp in danh_muc_thuc_pham_list %}
        <option value="{{ dmtp.DMTP_MA }}">{{ dmtp.DMTP_TEN }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- filter for dmtp_ma end -->

    <!-- price range: not do -->
    <div class="col-md-4 d-flex align-items-center">

    </div>

    <!-- cart -->
    <div class="col-md-2">
      <button type="button" data-toggle="modal" data-target="#cart-modal" class="btn btn-lg btn-success d-block ml-auto"
        id="js-btn-view-cart">
        <i class="fas fa-shopping-cart"></i>
        Giỏ hàng
      </button>

      <!-- add cart modal -->
      <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Giỏ hàng
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>Sản phẩm</th>
                    <th>Giá (VND)</th>
                    <th>Số lượng</th>
                    <th>Tạm tính (VND)</th>
                  </tr>
                </thead>
                <tbody id="cart-body">
                  <!-- generate table body -->
                  <script>
                    const CART_KEY = "project-x-cart";

                    let cart = localStorage.getItem(CART_KEY);
                    cart = cart ? JSON.parse(cart) : {};
                    console.log({ cart });
                    if (cart) {
                      let presentHTML = "";
                      for (const tp_ma in cart) {
                        presentHTML += `
                        <tr>
                          <td>${cart[tp_ma].name}</td>
                          <td class="text-right">${Number(cart[tp_ma].unit_cost).toLocaleString('vi')}</td>
                          <td>${cart[tp_ma].num}</td>
                          <td class="text-right">${Number(+cart[tp_ma].num * +cart[tp_ma].unit_cost).toLocaleString("vi")}</td>
                        </tr>
                        `
                      }
                      document.write(presentHTML);
                    } else {
                      document.write('<td colspan="4">Giỏ hàng trống</td>')
                    }
                  </script>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <a href="/checkout" class="btn btn-primary">Thanh toán</a>
            </div>
          </div>
        </div>
      </div>
      <!-- add cart modal -->
    </div>
  </div>

  <!-- range by price start -->
  <div class="row">
    <div class="col-12">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
      <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

      <p>
        <label for="amount">Lọc theo giá:</label>
        <input type="text" id="amount" class="w-100 text-success" readonly
          style="border:0; font-weight:bold; font-size: 1.5rem">
      </p>

      <div id="slider-range"></div>

      <script>
        $(function () {
          $("#slider-range").slider({
            range: true,
            min: 0,
            max: Number({{ max_of_price }}),
            values: [0, Number({{ max_of_price }})],
        slide: function (event, ui) {
          $("#amount").val(ui.values[0].toLocaleString('vi') + " VNĐ - " + ui.values[1].toLocaleString("vi") + " VNĐ");
          let min = ui.values[0];
          let max = ui.values[1];

          $(".product-wrapper").each(function () {
            let price = Number($(this).attr("data-price"));
            if (price > max || price < min) {
              $(this).hide();
            } else {
              $(this).show();
            }
          });
        }
          });

        $("#amount").val(
          $("#slider-range").slider("values", 0).toLocaleString('vi') + " VNĐ" +
          " - " + $("#slider-range").slider("values", 1).toLocaleString('vi') + " VNĐ"
        );
        });
      </script>
    </div>
  </div>
  <!-- range by price end -->

  <div class="row">
    <div class="col-12">
      <div class="row" id="product-presenter" style="min-height: 90vh;">
        {% for food in food_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 my-3 product-wrapper" data-price="{{ food.TP_DON_GIA }}">
          <div class="card product">
            <img class="card-img-top product__image" src="{{ food.TP_HINH_ANH }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">

                {{ food.DMTP_TEN }}

                <br />

                <span class="card-title__unit">
                  <script>
                    document.write("(" + Number(String({{ food.TP_DON_GIA }}).replace(/\.0*$/g, '')).toLocaleString('vi') + "đ/1 {{food.DMDVT_TEN }})")
                  </script>
                </span>
              </h5>
              <div class="card-text">
                <i>
                  <script>document.write("Còn lại: " + String({{ food.TP_SO_LUONG }}).replace(/\.0*$/g, '') + " {{ food.DMDVT_TEN}}")</script>
                </i>

                <p>
                  <i class="fas fa-user"></i> Người bán: <br />
                  <a href="#" class="text-success">{{ food.ND_TAI_KHOAN }}</a>
                </p>
              </div>

              <a href="/thuc-pham/{{food.TP_MA}}" class="btn btn-outline-success">
                <i class="far fa-eye"></i>
                Chi tiết
              </a>
              <button type="button" class="btn btn-outline-success" data-toggle="modal"
                data-target="#add-cart-{{ food.TP_MA }}">
                <i class="fas fa-cart-plus"></i>
                Giỏ hàng
              </button>
              <!-- add cart modal -->
              <div class="modal fade" id="add-cart-{{ food.TP_MA }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Thêm <b class="text-success">{{ food.TP_TEN
                          }}</b> vào giỏ hàng</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="#" id="frm-add-cart-{{ food.TP_MA }}" name="frm-add-cart-{{ food.TP_MA }}">
                        <input type="hidden" name="tp_ma" value="{{ food.TP_MA }}">
                        <input type="hidden" name="tp_don_gia" value="{{ food.TP_DON_GIA }}">
                        <input type="hidden" name="tp_ten" value="{{ food.TP_TEN }}">

                        <div class="from-group">
                          <label for="numAddCart">Số lượng</label>
                          <input type="number" id="numAddCart" name="numAddCart" class="form-control" />
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-size="{{ food.TP_SUAT_BAN }}" data-form-target="frm-add-cart-{{ food.TP_MA }}">
                        Thêm vào giỏ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- add cart modal -->


            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row my-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-dark w-25" id="btn-next-page">
            Xem tiếp <i class="fas fa-sort-down"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Mapbox -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<script>
  const LIMIT = 20;
  var currentPage = 1;

  $(function () {
    const CART_KEY = "project-x-cart";

    // init cart
    if (!localStorage.getItem(CART_KEY)) {
      localStorage.setItem(CART_KEY, '{}');
    }


    function toFoodString(foods) {
      return foods.map(food => {
        return `
        <div class="col-sm-6 col-md-4 col-lg-3 my-3 product-wrapper" data-price="${food.TP_DON_GIA}">
          <div class="card product">
            <img class="card-img-top product__image" src="${food.TP_HINH_ANH}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">

                ${food.DMTP_TEN}

                <br />

                <span class="card-title__unit">
                  (${Number(String(food.TP_DON_GIA).replace(/\.0*$/g, '')).toLocaleString('vi')}đ/1 ${food.DMDVT_TEN})
                </span>
              </h5>
              <div class="card-text">
                <i>
                  Còn lại: ${String(food.TP_SO_LUONG).replace(/\.0*$/g, '')} ${food.DMDVT_TEN}
                </i>

                <p>
                  <i class="fas fa-user"></i> Người bán: <br />
                  <a href="#" class="text-success">${food.ND_TAI_KHOAN}</a>
                </p>
              </div>

              <a href="/thuc-pham/${food.TP_MA}" class="btn btn-outline-success">
                <i class="far fa-eye"></i>
                Chi tiết
              </a>
              <button type="button" class="btn btn-outline-success" data-toggle="modal"
                data-target="#add-cart-${food.TP_MA}">
                <i class="fas fa-cart-plus"></i>
                Giỏ hàng
              </button>
              <!-- add cart modal -->
              <div class="modal fade" id="add-cart-${food.TP_MA}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Thêm <b class="text-success">
                        ${food.TP_TEN}</b> vào giỏ hàng</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="#" id="frm-add-cart-${food.TP_MA}" name="frm-add-cart-${food.TP_MA}">
                        <input type="hidden" name="tp_ma" value="${food.TP_MA}">
                        <input type="hidden" name="tp_don_gia" value="${food.TP_DON_GIA}">
                        <input type="hidden" name="tp_ten" value="${food.TP_TEN}">

                        <div class="from-group">
                          <label for="numAddCart">Số lượng</label>
                          <input type="number" id="numAddCart" name="numAddCart" class="form-control" />
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-size="${food.TP_SUAT_BAN}" data-form-target="frm-add-cart-${food.TP_MA}">
                        Thêm vào giỏ
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- add cart modal -->

            </div>
          </div>
        </div>
          `;
      });
    }


    $("#txtFilter-nd-ma").keyup(async function () {
      let val = $(this).val();
      console.log({ val });
      $(".user-list__item").addClass("d-none");

      if (val !== "") {
        $(".user-list__item").each((i, ele) => {
          ele = $(ele);
          if (ele.html().includes(val)) {
            ele.removeClass("d-none");
          }
        });
      }

      if (val === "") {
        let response = await axios.get("/api/thuc-pham");
        let foods = response.data.foods;
        let productsHTML = toFoodString(foods);

        $("#product-presenter").html(productsHTML);
        $("#btn-next-page").hide();
      }
    });


    $(".user-list__item").click(async function () {
      $(".user-list__item").addClass("d-none");
      let val = $(this).attr("data-nd-ma");

      let response = await axios.get("/api/thuc-pham", {
        params: { nd_ma: val }
      });
      let foods = response.data.foods;
      let productsHTML = toFoodString(foods);
      $("#product-presenter").html(productsHTML);

      // remove next page
      $("#btn-next-page").hide();

      // clear other filters
      $("#txtFilter-nd-ma").val("");
      $("#slFilter-dmtp-ma").val("");
    });

    $("#slFilter-dmtp-ma").change(async function () {
      let val = $(this).val();
      // get all danh muc thuc pham
      let response = await axios.get("/api/thuc-pham", {
        params: { dmtp_ma: val }
      });
      let foods = response.data.foods;
      let productsHTML = toFoodString(foods);
      if (productsHTML.length === 0) {
        productsHTML = "<p class='w-100 p-5 text-center'>Không có thực phẩm nào</p>"
      }
      $("#product-presenter").fadeOut(0)
      $("#product-presenter").html(productsHTML);
      $("#product-presenter").fadeIn(350, "swing");

      $("#btn-next-page").hide();
    });

    $(document).on('click', '#btn-next-page', async function () {
      let api = `/api/thuc-pham?page=${currentPage + 1}&limit=${LIMIT}`;
      currentPage++;
      let response = await axios.get(api);
      let items = response.data?.foods;
      if (items.length === 0) {
        alert("Đã hiển thị toàn bộ sản phẩm");
      } else {
        let itemsHTML = toFoodString(items);
        $("#product-presenter").append(itemsHTML);
      }
    });


    // handle for update cart
    $(document).on('click', "button[data-form-target^='frm-add-cart-']", function (e) {
      // $("button[data-form-target^='frm-add-cart-']").click(function (e) {
      let dataFormTarget = $(this).attr("data-form-target");
      let dataSuatBan = $(this).attr("data-size");

      var data = {};
      $.each($(`form#${dataFormTarget}`).serializeArray(), function (_, kv) {
        data[kv.name] = kv.value;
      });

      let { tp_ma, numAddCart: new_number, tp_don_gia, tp_ten } = data;

      let cart = localStorage.getItem(CART_KEY);

      console.log("current cart", cart);

      // get cart, cart schema : {tp_ma: sl: float, tp_don_gia: number}
      cart = JSON.parse(cart);

      // get pre number of this food id
      pre_number = cart[tp_ma]?.num || 0;


      // check for cube food
      if (Number(dataSuatBan) && (Number(pre_number) + Number(new_number)) % Number(dataSuatBan) !== 0) {
        alert(`Với sản phẩm này, bạn chỉ có thể mua với số lượng chia hết cho ${String(dataSuatBan).replace(/\.0+/g, '')}`);
        return;
      }

      // set up for update cart
      cart = {
        ...cart,
        [tp_ma]: {
          // update name
          "name": tp_ten,
          // update num
          "num": Number(pre_number) + Number(new_number),
          // set unit cost
          "unit_cost": tp_don_gia,
          // size
          "size": Number(dataSuatBan),
        }
      };

      // update cart
      localStorage.setItem(CART_KEY, JSON.stringify(cart));

      console.log(`Pre num: ${pre_number}`);
      console.log("new cart", cart);
    });


    // onclick view cart -> update cart content based on localStorage0
    $("#js-btn-view-cart").click(function (e) {
      const CART_KEY = "project-x-cart";

      let cart = localStorage.getItem(CART_KEY);
      cart = cart ? JSON.parse(cart) : {};
      console.log({ cart });
      if (Object.keys(cart).length) {
        let presentHTML = "";
        for (const tp_ma in cart) {
          presentHTML += `
            <tr>
              <td>${cart[tp_ma].name}</td>
              <td class="text-right">${Number(cart[tp_ma].unit_cost).toLocaleString('vi')}</td>
              <td>${cart[tp_ma].num}</td>
              <td class="text-right">${Number(+cart[tp_ma].num * +cart[tp_ma].unit_cost).toLocaleString("vi")}</td>
            </tr>
          `
        }
        // update cart HTML
        $("#cart-body").html(presentHTML);
      } else {
        $("#cart-body").html('<td colspan="4" class="text-center">Giỏ hàng trống</td>')
      }
    });

    // sort
    /*
    $("#slSortByPrice").change(function () {
      let val = $(this).val();
      console.log({ val });
      let products = Array.from($(".product-wrapper"));
      switch (val) {
        case 'inc':
          products = products.sort((x, y) => Number($(x).attr("data-price")) - Number($(x).attr("data-price")));
          break;

        case 'des':
          products = products.sort((x, y) => Number($(y).attr("data-price")) - Number($(x).attr("data-price")));
          break;
      }
      //console.log(products)
      $("#product-presenter").html("");
      for (let product of products) {
        $("#product-presenter").append(product);
      }
    })
    */

  });




</script>
{% endblock %}