{% extends 'base.html' %}

{% block style %}
<style>
  .product {
    display: flex;
    flex-direction: column;
    height: 50vh;
  }

  .product__image {
    width: 100%;
    height: 45%;
    object-fit: cover;
  }

  .section-header {
    border-left: 1.5vw solid orange;
    padding: 1vw 2vw;
    margin: 1vw 0;
  }
</style>
{% endblock %}



{% block main %}
<div class="container">
  <h2 class="section-header">Thực phẩm đang bán</h2>
  <div class="row">
    <div class="col-12">
      <div class="row">
        {% for food in food_list %}
        <div class="col-3 my-3">
          <div class="card product">
            <img class="card-img-top product__image" src="{{ food.TP_HINH_ANH }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                {{ food.DMTP_TEN }} {{ food.TP_SO_LUONG }} {{ food.DMDVT_TEN }} <br />
                <script>
                  document.write("(" + Number({{ food.TP_DON_GIA }}).toLocaleString('vi') + "đ/1 {{food.TP_DON_VI }})")
                </script>
              </h5>
              <div class="card-text">
                <p><i class="fas fa-file-medical-alt"></i> {{ food.TP_MO_TA }}</p>
                <p><i class="fas fa-user"></i> Người bán: <a href="#" class="text-success">{{ food.ND_TAI_KHOAN }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="shadow" id="map" style="height:50vh"></div>
</div>
{% endblock %}

{% block script %}
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Mapbox -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

<script>
  mapboxgl.accessToken =
    "pk.eyJ1IjoidnVseXRoaWVuYW5oIiwiYSI6ImNrZXlhNXd3ZDBkb2Myd3AzYWRxaXhodnIifQ.de-6twccJ_8Jte2Iy5xVqg";

  function successLocation(position) {
    setupMap([position.coords.longitude, position.coords.latitude]);
  }

  function errorLocation() {
    setupMap([105.7225509, 10.0342696]);
  }

  navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
    enableHighAccuracy: true
  });

  function setupMap(center) {
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/streets-v11",
      center: center,
      zoom: 10,
    });

    // Add geolocate control to the map.
    map.addControl(
      new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        trackUserLocation: true
      })
    );
  }
</script>
{% endblock %}