{% extends 'base.html' %}

{% block style %}
<style>
  .product {
    display: flex;
    flex-direction: column;
    height: 55vh;
  }

  .product__image {
    width: 100%;
    height: 45%;
    object-fit: cover;
  }
</style>
{% endblock %}



{% block main %}
<div class="container">
  <h2 class="section-header">Thực phẩm đang bán</h2>
  <div class="row">

    <div class="col-md-3">
      <input type="text" id="txtFilter-nd-ma" class="form-control" placeholder="Lọc theo tên người dùng">
      <div id="user-list" class="position-absolute w-100" style="z-index: 1;">
        <!-- <div data-nd-ma="" class="bg-white w-100 shadow user-list__item d-none">Tất cả</div> -->
        {% for user in user_list %}
        <div data-nd-ma="{{ user.ND_MA }}" class="bg-white w-100 shadow d-none user-list__item">{{ user.ND_TAI_KHOAN }}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-3">
      <select name="slFilter-dmtp-ma" class="form-control" id="slFilter-dmtp-ma">
        <option data-dmtp-ma="" class="bg-white w-100 shadow" value="">
          Tất cả danh mục thực phẩm
        </option>
        {% for dmtp in danh_muc_thuc_pham_list %}
        <option value="{{ dmtp.DMTP_MA }}">{{ dmtp.DMTP_TEN }}</option>
        {% endfor %}
      </select>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <div class="row" id="product-presenter">
        {% for food in food_list %}
        <div class="col-3 my-3">
          <div class="card product">
            <img class="card-img-top product__image" src="{{ food.TP_HINH_ANH }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">

                {{ food.DMTP_TEN }}
                <script>document.write(String({{ food.TP_SO_LUONG }}).replace(/\.0*$/g, ''))</script>
                {{ food.DMDVT_TEN}}

                <br />

                <script>

                  document.write("(" + Number(String({{ food.TP_DON_GIA }}).replace(/\.0*$/g, '')).toLocaleString('vi') + "đ/1 {{food.DMDVT_TEN }})")
                </script>
              </h5>
              <div class="card-text">
                <p class="text-truncate"><i class="fas fa-file-medical-alt"></i> {{ food.TP_MO_TA }}</p>
                <p><i class="fas fa-user"></i> Người bán: <br /> <a href="#" class="text-success">{{ food.ND_TAI_KHOAN
                    }}</a>
                </p>
              </div>

              <a href="/thuc-pham?tp_ma={{food.TP_MA}}" class="btn btn-primary stretched-link">Xem chi tiết</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row my-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-dark w-25" id="btn-next-page">
            Xem tiếp <i class="fas fa-sort-down"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Mapbox -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>
  const LIMIT = 20;
  var currentPage = 1;

  $(function () {
    function toFoodString(foods) {
      return foods.map(food => {
        return `
            <div class="col-3 my-3">
                  <div class="card product">
                    <img class="card-img-top product__image" src="${food.TP_HINH_ANH}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">
                        ${food.DMTP_TEN} ${food.TP_SO_LUONG} ${food.DMDVT_TEN} <br />
                        (${Number(food.TP_DON_GIA).toLocaleString('vi')}đ/1 ${food.DMDVT_TEN})
</h5>
<div class="card-text">
  <p class="text-truncate"><i class="fas fa-file-medical-alt"></i> ${food.TP_MO_TA}</p>
  <p><i class="fas fa-user"></i> Người bán: <a href="#" class="text-success">${food.ND_TAI_KHOAN}</a>
  </p>
</div>
<a href="/thuc-pham?tp_ma=${food.TP_MA}" class="btn btn-primary stretched-link">Xem chi tiết</a>
</div>
</div>
</div>
`;
      });
    }


    $("#txtFilter-nd-ma").keyup(async function () {
      let val = $(this).val();
      console.log({ val });
      $(".user-list__item").addClass("d-none");

      if (val !== "") {
        $(".user-list__item").each((i, ele) => {
          ele = $(ele);
          if (ele.html().includes(val)) {
            ele.removeClass("d-none");
          }
        });
      }

      if (val === "") {
        let response = await axios.get("/api/thuc-pham");
        let foods = response.data.foods;
        let productsHTML = toFoodString(foods);

        $("#product-presenter").html(productsHTML);
      }
    });


    $(".user-list__item").click(async function () {
      $(".user-list__item").addClass("d-none");
      let val = $(this).attr("data-nd-ma");

      let response = await axios.get("/api/thuc-pham", {
        params: { nd_ma: val }
      });
      let foods = response.data.foods;
      let productsHTML = toFoodString(foods);
      $("#product-presenter").html(productsHTML);
    });

    $("#slFilter-dmtp-ma").change(async function () {
      let val = $(this).val();
      // get all danh muc thuc pham
      let response = await axios.get("/api/thuc-pham", {
        params: { dmtp_ma: val }
      });
      let foods = response.data.foods;
      let productsHTML = toFoodString(foods);
      $("#product-presenter").html(productsHTML);
    });

    $("#btn-next-page").click(async function () {
      let api = `/api/thuc-pham?page=${currentPage + 1}&limit=${LIMIT}`;
      currentPage++;
      let response = await axios.get(api);
      let items = response.data?.foods;
      if (items.length === 0) {
        alert("Đã hiển thị toàn bộ sản phẩm");
      } else {
        let itemsHTML = toFoodString(items);
        $("#product-presenter").append(itemsHTML);
      }
    });
  });

</script>
{% endblock %}