{% extends 'base.html' %}

{% block style %}
<style>
    a:hover {
        text-decoration: none;
    }

    .recommend-cluster {
        cursor: pointer;
    }

    .recommend-cluster:hover {
        background-color: #eee !important;
    }
</style>
{% endblock %}

{% block main %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="container" style="min-height: 90vh !important;">
    <div class="row">
        <div class="col-12">
            <h1 class="section-header">Các gợi ý mua chung</h1>

            <div id="main-content">

            </div>

            <script>
                (async function () {
                    let response = await axios.get("/api/nguoi-dung/goi-y-mua-chung");
                    let recommendData = response.data.recommend_data;

                    const get_uuid = (function () {
                        let uniKeyCount = 0;
                        return () => `uuid-${++uniKeyCount}`;
                    })();

                    let presentHTML = "";
                    console.log({ recommendData });
                    let uniKeyCount = 0;
                    for (const tp_ma in recommendData) {
                        const tp_ten = recommendData[tp_ma][0]["nodes"][0]["detail"]["TP_TEN"]
                        presentHTML += `<h4>${tp_ten} (mã thực phẩm: ${tp_ma})</h4>`;
                        // show cluster one by one
                        for (const cluster of recommendData[tp_ma]) {
                            const nodes = cluster["nodes"];
                            let uuid = get_uuid()

                            presentHTML += `<div class='bg-light p-3 rounded shadow-sm d-flex justify-content-start align-items-center recommend-cluster' data-toggle='modal' data-target='#${uuid}'>`;

                            presentHTML += nodes.map(node => `
                                <span class="d-inline-block p-2 m-2 w-25 border">${node.detail.ND_TAI_KHOAN}</span>
                            `).join('');


                            presentHTML += "</div>";

                            // add modal head
                            presentHTML += `
                            <div class="modal fade" id="${uuid}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Xác nhận mua chung</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>`

                            // add modal body
                            presentHTML += `<div class="modal-body">`;
                            presentHTML += `<div>Bạn đồng ý mua chung với ${nodes.map(node => '<b>' + node.detail.ND_TAI_KHOAN + '</b>').join(', ')}?</div>`
                            presentHTML += `</div>`;

                            // add model foot
                            presentHTML += `
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-tp_ma="${tp_ma}" data-cluster_index=${cluster.cluster_index}>Đồng ý</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`;

                            presentHTML += "<br />"
                        }

                    }

                    $("#main-content").html(presentHTML);
                })();
            </script>


        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    $(function () {


    });
</script>
{% endblock %}