{% extends 'base.html' %}

{% block style %}
<style>
    a:hover {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block main %}


<div class="container" style="min-height: 75vh;">
    <div class="row">
        <div class="col-12">
            <h1 class="section-header">Các gợi ý mua chung</h1>

            {%for alert in alerts %}
            <a href="#">
                <div class="alert alert-info alert-dismissible my-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i>
                        (Ngày đăng ký {{ alert.register.DKM_THOI_GIAN }})
                    </i>
                    Thực phẩm <b>{{ alert.TP_TEN }}</b> bạn có thể mua chung với
                    {%for user in alert.members %}
                    <b>{{ user.ND_TAI_KHOAN }} </b>
                    {% endfor %}

                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}