{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <h1>Đăng ký</h1>
            <form class="p-4 shadow" id="frmRegister" name="frmRegister" method="post" action="/nguoi-dung/dang-ky">
                <div class="form-group">
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" name="txtTaiKhoan" class="form-control" id="txtTaiKhoan"
                            placeholder="Username...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-unlock-alt"></i>
                            </span>
                        </div>
                        <input type="password" name="txtPassword" class="form-control" id="txtPassword"
                            placeholder="Password...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-file-signature"></i>
                            </span>
                        </div>
                        <input type="text" name="txtFullname" class="form-control" id="txtFullname"
                            placeholder="Fullname...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <input type="email" name="txtPassword" class="form-control" id="txtEmail"
                            placeholder="Email...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-phone-alt"></i>
                            </span>
                        </div>
                        <input type="tel" name="txPhone" class="form-control" id="txPhone" placeholder="Phone...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-map-marked-alt"></i>
                            </span>
                        </div>
                        <input type="txt" name="txtDiaChi" class="form-control" id="txtDiaChi" placeholder="Address...">
                    </div>
                </div>

                <button class="form-control btn btn-primary">Đăng ký</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    $(function () {
        $("#frmRegister").submit(async function (e) {
            e.preventDefault();
            try {
                let queryString = $(this).serialize();
                let response = await axios.post(`/nguoi-dung/dang-ky?${queryString}`);
                let { message } = response.data;
                alert(message);
                window.location.assign("/nguoi-dung/dang-nhap");
            } catch (error) {
                alert("Có lỗi xảy ra");
            }
        });
    });
</script>
{% endblock %}