{% extends 'base.html' %}


{% block style %}
<style>
    .product {
        display: flex;
        flex-direction: column;
        height: 40vh;
    }

    .product__image {
        width: 100%;
        height: 45%;
        object-fit: cover;
    }
</style>
{% endblock %}


{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="section-header">Thực phẩm đang bán</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <input type="text" name="txtFilterByName" class="form-control w-25" id="txtFilterByName"
                placeholder="Tìm kiếm theo tên" />
        </div>
    </div>

    <div class="row" id="food-presenter" style="min-height: 90vh;">
        {% for food in food_list %}
        <div class="col-3 my-3 product-wrapper" data-tp_ten="{{ food.TP_TEN }}">
            <div class="card product position-relative">
                {% if food.ready_registered_count %}
                <div class="badge badge-danger position-absolute" style="bottom: 0; right: 0;">
                    {{ food.ready_registered_count }}
                </div>
                {% endif %}

                <img class="card-img-top product__image" src="/{{ food.TP_HINH_ANH }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ food.TP_TEN }}
                    </h5>
                    <p class="card-text">
                        <i>Còn lại:
                            <script>document.write(String({{ food.TP_SO_LUONG }}).replace(/\.0*$/g, ''))</script>
                        </i>
                        <br />
                        <i>
                            <script>
                                document.write("(" + Number(String({{ food.TP_DON_GIA }}).replace(/\.0*$/g, '')).toLocaleString('vi') + "đ/1 {{food.DMDVT_TEN }})")
                            </script>
                        </i>
                    </p>

                    <a href="/thuc-pham/{{food.TP_MA}}" class="btn btn-primary btn-sm stretched-link">
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#txtFilterByName").keyup(async function (e) {
            let { value } = e.target;
            if (value == '') {
                $(".product-wrapper").show();
            } else {
                $(".product-wrapper").hide();
                $(`.product-wrapper[data-tp_ten*='${value}']`).show();
            }
        });
    });
</script>
{% endblock %}