{% extends 'base.html' %}

{% block style %}
<style>
    .nav-link {
        color: lightgray !important;
    }

    .nav-link.active {
        color: darkblue !important;
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center py-3 border">Xin chào {{ user_info.ND_TAI_KHOAN }}</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs mb-5">
                <li class="nav-item w-50">
                    <a class="nav-link" data-toggle="tab" href="#menu-ban">
                        <h2 class="text-center">
                            <i class="fas fa-store-alt btn btn-dark"></i>
                            Chức năng cho người bán
                        </h2>
                    </a>
                </li>
                <li class="nav-item w-50">
                    <a class="nav-link active" data-toggle="tab" href="#menu-mua">
                        <h2 class="text-center">
                            <i class="fas fa-shopping-cart btn btn-dark"></i>
                            Chức năng cho người mua
                        </h2>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content mb-5">
                <div class="tab-pane container fade" id="menu-ban">
                    <a href="/thuc-pham/them" class="d-inline-block mx-2" style="text-decoration: none">
                        <span class="card text-white bg-dark mb-3" style="width: 18rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fas fa-plus-square"></i>
                                    Thêm thực phẩm bán
                                </h5>
                                <i class="card-text text-justify">
                                    Đăng bán thực phẩm của bạn.
                                </i>
                            </div>
                        </span>
                    </a>

                    <a href="/nguoi-dung/{{user_info.ND_TAI_KHOAN}}/cua-hang" class="d-inline-block mx-2"
                        style="text-decoration: none">
                        <span class="card text-white bg-dark mb-3" style="width: 18rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fas fa-store"></i>
                                    Xem cửa hàng
                                </h5>
                                <i class="card-text text-justify">
                                    Xem các thực phẩm mà bạn đang bán.
                                </i>
                            </div>
                        </span>
                    </a>

                </div>


                <div class="tab-pane container active" id="menu-mua">
                    <a href="/nguoi-dung/them-nhu-cau-mua" class="d-inline-block mr-2" style="text-decoration: none">
                        <span class="card text-white bg-dark mb-3" style="width: 18rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fas fa-plus-square"></i>
                                    Thêm nhu cầu mua
                                </h5>
                                <i class="card-text text-justify">
                                    Thêm nhu cầu mua.
                                </i>
                            </div>
                        </span>
                    </a>

                    <a href="/nguoi-dung/nhu-cau-mua" class="d-inline-block mx-2" style="text-decoration: none">
                        <span class="card text-white bg-dark mb-3" style="width: 18rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fas fa-plus-square"></i>
                                    Danh sách nhu cầu mua
                                </h5>
                                <i class="card-text text-justify">
                                    Danh sách các nhu cầu mua.
                                </i>
                            </div>
                        </span>
                    </a>

                    <a href="/nguoi-dung/goi-y-mua-chung" class="d-inline-block mx-2" style="text-decoration: none">
                        <span class="card text-white bg-dark mb-3" style="width: 18rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fab fa-searchengin"></i>
                                    Gợi ý mua chung
                                </h5>
                                <i class="card-text text-justify">
                                    Nhận gợi ý mua chung các thực phẩm chỉ bán số lượng lớn mà bạn đã đăng ký.
                                </i>
                            </div>
                        </span>
                    </a>


                    <a href="/nguoi-dung/danh-sach-dang-ky-mua/{{ user_info.ND_MA }}" class="d-inline-block mx-2"
                        style="text-decoration: none">
                        <span class="card text-white bg-dark mb-3" style="width: 18rem; height: 12rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="fas fa-list-ul"></i>
                                    Theo dõi đăng ký mua
                                </h5>
                                <i class="card-text text-justify">
                                    Theo dõi các đăng ký mua của bạn.
                                </i>
                            </div>
                        </span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}