{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Welcome {{ user_info.ND_TAI_KHOAN }}</h1>
            <a href="/thuc-pham/them" class="btn btn-success">
                <i class="fas fa-plus-square"></i>
                Thêm thực phẩm bán
            </a>
            <a href="/nguoi-dung/them-nhu-cau-mua" class="btn btn-success">
                <i class="fas fa-plus-square"></i>
                Thêm nhu cầu mua
            </a>
        </div>
    </div>
</div>
{% endblock %}