{% extends 'base.html' %}

{% block main %}
<main class="container">
    <h1 class="section-header">Thống kê</h1>

    <div class="row">
        <div class="col-12 col-lg-3">
            <form action="/nguoi-dung/dashboard/{{ user_info.ND_MA }}" method="get">
                <div class="form-group d-flex justify-content-between align-items-center">
                    Năm:
                    <select name="slFilterYear" id="slFilterYear" class="form-control ml-3">
                        <script>
                            let currentYear = new Date().getFullYear();
                            for (let y = currentYear; y >= currentYear - 10; y--) {
                                document.write(`<option value="${y}">${y}</option>`)
                            }
                        </script>
                    </select>
                    <button type="submit" class="btn btn-primary ml-3">Lọc</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="min-height: 90vh;">
        <div class="col-12">
            <div id="linechart_material" class="p-5 shadow" style="width: 1000px; height: 600px;"></div>
        </div>
    </div>
</main>
{% endblock %}


{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Tháng');
        data.addColumn('number', 'Số tiền thu vào');
        data.addColumn('number', 'Vốn');
        data.addColumn('number', 'Lợi nhuận');

        data.addRows([
            {% for month_data in draw_data %}
    [`{{month_data.month}}`.replace(/\.0*$/, ''), {{ month_data.bill_money }}, {{ month_data.cost }}, {{ month_data.proceeds }}],
        {% endfor %}
        ]);

    var options = {
        chart: {
            title: `{{ chart_title }}`,
            subtitle: 'đơn vị: VNĐ'
        },
        width: 900,
        height: 500,
        axes: {
            x: {
                0: { side: 'bottom' }
            }
        },
        vAxis: {
            title: 'VNĐ',
            format: 'decimal',
            viewWindow: {
                min: 0,
            }
        }
    };

    var chart = new google.charts.Line(document.getElementById('linechart_material'));

    chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>

{% endblock %}